@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans SC', sans-serif;
    background-image: url('/images/body.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 150vh;
    background-color: #0002;
    background-blend-mode: multiply;
    font-size: 13px;
    overflow: hidden;
}

:root {
    --default: #b9b69a;
    --success: #51be56;
    --warning: #ffc107;
    --danger: #ff5722;
    --info: #097fb6;
}

.alerts {
    border: 3px outset var(--default);
    border-left-width: 10px;
    box-shadow: 0 4px 10px #0004, 0 2px 20px #0008;
    display: flex;
    min-width: 420px;
    bottom: 10px;
    right: 0px;
    position: absolute;
    align-items: center;
    padding: 15px 25px;
    overflow: hidden;
    margin: 15px 0;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    background-color: #008080;
    transition-property: opacity, transform;
    transition: 0.5s ease-in;
    opacity: 0;
    pointer-events: none;
}
.alerts.showAlert{
    opacity: 1;
    pointer-events: auto;
}
.alerts.show{
    animation: show_slide 3s ease  forwards;
}
@keyframes show_slide {
   0%{
       transform: translateX(100%);
   }
   40%{
    transform: translateX(-10%);
   }
   80%{
    transform: translateX(0%);
   }
   100%{
    transform: translateX(-10px);
   }
}
.alerts.hide{

    animation: hide_slide 1s ease forwards;

    }
    @keyframes hide_slide{
0%{
    transform: translateX(-10%);
}
40%{
    transform: translateX(0%);
}
80%{
    transform: translateX(-10%);
}
100%{
    transform: translateX(100%);
}

    }
.alerts.close {
    opacity: 0;
    transform: translate3d(40px);
}

.alerts>.icon {
    min-width: 40px;
    min-height: 40px;
    background-color: var(--default);
    display: inline-block;
    border-radius: 50%;
    color: #fff;
    text-align: center;
}

.alerts>.icon>* {
    line-height: 40px;
}

.alerts>.texts {
    width: 100%;
    padding: 0 15px;
    color: #fff;
}

.alerts>.texts p{
    margin: 5px 0;
    font-size: 14px;
}

.alerts>.close{
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.alerts>.close:hover{
    color: red;
}


/* success alert start */
.alerts-success{
    border-color: var(--success);
}
.alerts-success>.icon{
    background-color: var(--success);
}
/* success alert end */


/* warning alert start */
.alerts-warning{
    border-color: var(--warning);
}
.alerts-warning>.icon{
    background-color: var(--warning);
}
/* warning alert end */


/* danger alert start */
.alerts-danger{
    border-color: var(--danger);
}
.alerts-danger>.icon{
    background-color: var(--danger);
}
/* danger alert end */


/* info alert start */
.alerts-info{
    border-color: var(--info);
}
.alerts-info>.icon{
    background-color: var(--info);
}
/* info alert end */
